<h1><div class="transbox">Delete Translation</div></h1>

<p>
Select which translation you would like to delete.
</p>

  <form action="/deleted_translation">
    <select name="translation_id">
      <% Translation.all.each do |tr| %>
        <option value="<%= tr.id %>"><%= tr.id%> - <%= tr.translation %></option>
      <% end %>
    </select>
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="http://localhost:4567/admin">Admin Home</a>