<h1><div class="transbox">Edit Translation</div></h1>

<p>
Select which translation you would like to edit and enter the new translation in the field below.
</p>

  <form action="/saved_translation" method="post">
    <select name="translator_id">
      <% Translator.all.each do |tr| %>
        <option value="<%= tr.id %>"><%= tr.id%> - <%= tr.translator
           %></option>
      <% end %>
    </select>
    <br><br>
    <strong>Change translation to:</strong><br>
    <input type="text" name="translator">
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="/y3d8jedu38zm10lt">Admin Home</a>