<h1><div class="transbox">Translation</div></h1>
<h2>A new translation has been added:</h2>
<hr>
<p>
   <strong>Translation:</strong> <%= @translator.translator %><br>
</p>
<br><a href="/y3d8jedu38zm10lt">Admin Home</a>&nbsp;&nbsp;
<a href="/">Exit Admin</a>