<h1><div class="transbox">Translation</div></h1>
<h2>Your translation has been updated.</h2>
<hr>
<p>
   <strong>Updated Translation:</strong> <%= @translation %><br>
</p>
<br><a href="http://localhost:4567/admin">Admin Home</a>&nbsp;&nbsp;
<a href="http://localhost:4567">Exit Admin</a>