<h1>Add Language</h1>

<p>
Enter a new language below.
</p>

  <form action="/new_language">
    <input type="text" name="language" autofocus required>
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
