<h1><div class="transbox">Delete Language</div></h1>

<p>
Select which language you would like to delete.
</p>

  <form action="/deleted_language" method="post">
    <select name="language_id">
      <% Language.all.each do |l| %>
        <option value="<%= l.id %>"><%= l.id%> - <%= l.language %></option>
      <% end %>
    </select>
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="http://localhost:4567/admin">Admin Home</a>