<h1><div class="transbox">Edit Language</div></h1>

<p>
Select which language you would like to edit and enter the new language in the field below.
</p>

  <form action="/saved_language" method="post">
    <select name="lang_id">
      <% Lang.all.each do |l| %>
        <option value="<%= l.id %>"><%= l.id%> - <%= l.lang %></option>
      <% end %>
    </select>
    <br><br>
    <strong>Change language to:</strong><br>
    <input type="text" name="lang">
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="/y3d8jedu38zm10lt">Admin Home</a>