<h1><div class="transbox">Edit Language</div></h1>

<p>
Select which language you would like to edit and enter the new language in the field below.
</p>

  <form action="/saved_language">
    <select name="language_id">
      <% Language.all.each do |l| %>
        <option value="<%= l.id %>"><%= l.id%> - <%= l.language %></option>
      <% end %>
    </select>
    <br><br>
    <strong>Change language to:</strong><br>
    <input type="text" name="language">
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="http://localhost:4567/admin">Admin Home</a>