<h1><div class="transbox">Languages</div></h1>
<h2>Below is the current list of languages.</h2>
<hr>
<% @lang.each do |langs| %>
  <p>
     <strong>ID:</strong> <%= langs.id %> / <strong>Language:</strong> <%= langs.lang %>
  </p>
<% end %>

<br><a href="/y3d8jedu38zm10lt">Admin Home</a>&nbsp;&nbsp;
<a href="/">Exit Admin</a>