<h1>Language</h1>
<h2>A new language has been added:</h2>
<hr>
<p>
   <strong>Language:</strong> <%= @language %><br>
</p>
<br><a href="http://localhost:4567/admin">Admin Home</a>&nbsp;&nbsp;
<a href="http://localhost:4567">Exit Admin</a>