<h1><div class="transbox">Language</div></h1>
<h2>Your language has been updated.</h2>
<hr>
<p>
   <strong>Updated Language:</strong> <%= @lang.lang %><br>
</p>
<br><a href="/y3d8jedu38zm10lt">Admin Home</a>&nbsp;&nbsp;
<a href="/">Exit Admin</a>