<h1>Admin</h1>

<p>
Manage the available translations here. Make sure you enter a term first before adding a translation.
</p>

<h2>Terms</h2>
<ol>
  <li><a href="/add_term">Add a new term.</a></li>
  <li><a href="/edit_term">Edit a term.</a></li>
  <li><a href="/delete_term">Delete a term.</a></li>
  <li><a href="/fetch_terms">View a current list of terms.</a></li>
</ol>


<h2>Languages</h2>
<ol>
  <li><a href="/add_language">Add a new language.</a></li>
  <li><a href="/edit_language">Edit a language.</a></li>
  <li><a href="/delete_language">Delete a language.</a></li>
  <li><a href="/fetch_languages">View a current list of languages.</a></li>
</ol>

<h2>Translations</h2>
<ol>
  <li><a href="/add_translation">Add a new translation.</a></li>
  <li><a href="/edit_translation">Edit a translation.</a></li>
  <li><a href="/delete_translation">Delete a translation.</a></li>
  <li><a href="/fetch_translations">View a current list of languages.</a></li>  
</ol>

<br><a href="http://localhost:4567">Exit Admin</a>