<!DOCTYPE html>
<html>
  <head>
    <title>Free Software Translation</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>