<h1>Free Software Translation</h1>

<p>
Enter a word or short text string below to translate into French, German, Spanish and Italian.
</p>

  <form action="/translation">
    <input type="text" name="term">
    <input type="submit" value="Translate">
  </form>
