<h1>Language</h1>
<h2>Your language has been updated.</h2>
<hr>
<p>
   <strong>Updated Language:</strong> <%= @language %><br>
</p>
<br><a href="http://localhost:4567/admin">Admin Home</a>&nbsp;&nbsp;
<a href="http://localhost:4567">Exit Admin</a>