<center>
  <br>
  <h1>Admin Login</h1>

    <p>
    </p>

    <form action="/y3d8jedu38zm10lt-ck">
      Username: <input type="text" name="username" required size="30"><br><br>
      Password: <input type="text" name="password" required size="30"><br><br>
      <input type="submit" value="Login" class="btn">
    </form>
    <br><br><br><br>

<br><a href="/">Exit Admin</a>
</center>

