<!DOCTYPE html>
<html>
  <head>
    <title>Free Software Translation - Admin</title>
    <meta name="viewport" content="width=device-width" />
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="admin_style.css">
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>