<h1><div class="transbox">Delete Term</div></h1>

<p>
Select which English term you would like to delete.
</p>

  <form action="/deleted_term" method="post">
    <select name="term_id">
      <% Term.all.each do |t| %>
        <option value="<%= t.id %>"><%= t.id%> - <%= t.term %></option>
      <% end %>
    </select>
    <br><br>
    <input type="submit" value="Submit" class="btn">
  </form>
<br><br><a href="http://localhost:4567/y3d8jedu38zm10lt">Admin Home</a>