<h1><div class="transbox">Term</div></h1>
<h2>Your term has been updated.</h2>
<hr>
<p>
   <strong>Updated Term:</strong> <%= @term %><br>
</p>
<br><a href="http://localhost:4567/y3d8jedu38zm10lt">Admin Home</a>&nbsp;&nbsp;
<a href="http://localhost:4567">Exit Admin</a>